.toolbar {
  height: 3.125rem;
  background-color: var(--primary-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0.75rem;
}

.title {
  padding: 0 1.438rem;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
}
.back-icon {
  width: 3.125rem;
  height: 1.875rem;
  color: white;
}
